:root {
  --gray-5: #fcfefe;
  --gray-10: #f4f4f4;
  --gray-20: #e0e0e0;
  --gray-40: #a8a8a8;
  --gray-50: #8d8d8d;
  --gray-60: #6f6f6f;
  --gray-80: #393939;
  --gray-90: #262626;
  --yellow: #ffff00;
  --light-orange: #ffa791;
  --orange: #ff3300;
  --rouge: #ff0000;
  --vert-jaune: #ccff33;
  --bleu-00: #0000cc;
  --bleu-99: #0099ff;
  --light-bleu: #00ccff;
  --violet: #660099;
}

/* headings */
h1 {
  font-family: "Spectral", serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Spectral", serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin: 0;
}
h3 {
  font-family: "Spectral", serif;
  font-size: 1rem;
  font-weight: 800;
}

/* réglages body */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  padding: 0;
  max-width: 100%;
  margin: auto;
  font-family: "Wotfard", sans-serif;
}

/* theme dark et light */
body.dark {
  background-color: var(--gray-90);
  color: var(--gray-5);
  fill: var(--gray-5);
}
svg.dark {
  fill: var(--gray-5);
}

body.light {
  background-color: var(--gray-5);
  color: var(--gray-90);
  fill: var(--gray-90);
}
svg.light {
  fill: var(--gray-90);
}

/* bouton dark/light */
.theme-toggle {
  border: none;
  background: none;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: space-between;
  max-width: 100vw;
  padding: 1rem 6rem;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(10px);
  height: 5rem;
  margin-bottom: 1rem;
}

header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.75rem 0;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
}
nav {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0 11rem;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 0;
}

.topnav a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
}

header button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 6.25rem;
  margin: 0;
  padding: 0.75rem;
}
main {
  grid-area: main;
}

/* Animation marquee
------------------------------------------------------------------------*/
.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100vw;
}

.div-marquee1 {
  display: inline-block;
  animation: marquee1 40s linear infinite;
  overflow: hidden;
}

.div-marquee2 {
  display: inline-block;
  animation: marquee1 40s linear infinite;
  overflow: hidden;
}

@keyframes marquee1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Main
------------------------------------------------------------------------*/
.socialmedia-bar {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: end;

  position: fixed;
  top: 40%;
  transform: translateY(-50%);
  left: 2rem;
}

/* About
------------------------------------------------------------------------*/
.hero {
  margin: 2rem 6rem 3rem;
}
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  scroll-margin-top: 8rem;
}

/*ma présentation*/
.about h1 {
  font-size: 2rem;
}
.about p {
  font-family: "Spectral", serif;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
}

.about span{
  color: var(--orange);
  font-weight:500
}

/* Skills
------------------------------------------------------------------------*/
.skills-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 6rem;
  scroll-margin-top: 8rem;
}
.skills-section h2 {
  align-self: center;
  margin-bottom: 1.5rem;
}

.skills-section h2 span {
  font-style: normal;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  border-radius: 32px;
  margin: 0 3rem;
  background-color: var(--gray-10);
  padding: 3rem;
}

/*Btn filtres skills*/
.skills-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 1.5rem;
}

.btn {
  border: 0.5px solid var(--gray-90);
  border-radius: 32px;
  background-color: inherit;
  color: inherit;
  padding: 0.4rem 0.7rem;
  font-family: "Wotfard", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.btn:hover {
  color: var(--orange);
  background-color: var(--light-orange);
  border: none;
  transform: scale(1.1);
  transition: 100ms;
  font-weight: bold;
}

.activeBtn,
.activeBtn:hover {
  color: var(--gray-10);
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

/*dark mode*/
.dark .skills-container {
  background-color: var(--gray-80);
}

.dark .btn {
  border: none;
}

/*Organisation des skills*/
.skills-container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skills-container h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

.skills-container p {
  margin: 0;
}

/* Experiences
------------------------------------------------------------------------*/
.experiences-section {
  padding: 0 6rem;
  scroll-margin-top: 8rem;
}

/* Footer
------------------------------------------------------------------------*/
footer {
  grid-area: footer;
}

/* MEDIA QUERIES
------------------------------------------------------------------------*/
/* large screen */
@media (min-width: 1200px) and (max-width: 1440px) {
  header {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
  }
  nav {
    padding: 0 5rem;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  header {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
    padding: 1rem 6rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  nav {
    padding: 0 2rem;
  }
}
