:root {
  --gray-5: #fcfefe;
  --gray-10: #f4f4f4;
  --gray-20: #e0e0e0;
  --gray-40: #a8a8a8;
  --gray-50: #8d8d8d;
  --gray-60: #6f6f6f;
  --gray-80: #393939;
  --gray-90: #262626;
  --yellow: #ffff00;
  --light-orange: #ffa791;
  --orange: #ff3300;
  --rouge: #ff0000;
  --vert-jaune: #ccff33;
  --bleu-00: #0000cc;
  --bleu-99: #0099ff;
  --light-bleu: #00ccff;
  --violet: #660099;
  --vert: #ddea61;
  --bleu: rgba(172, 228, 243, 0.4);
  --pink: rgba(243, 172, 192, 1);
  --bleu-gris: #2c3e50;
  --bleu-overlay: #2c3e50d3;
  --vert-mint: #b9f8c8;
  --bg-white: rgba(255, 255, 255, 0.6);
  --bleu-dark: #5263ff;
  --bg-dark: #242f42;
  --pink-dark: rgb(255, 26, 129);
  --vert-dark: #a4e683;
  --violet-dark: #b39cd0;
  --bleu-pastel: #a8dadc;
  --butter-yellow: #f5e8aa;
}

/* headings */
h1 {
  font-family: "Spectral", serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Spectral", serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin: 0;
}
h3 {
  font-family: "Spectral", serif;
  font-size: 1rem;
  font-weight: 800;
}

/* réglages body */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  padding: 0;
  max-width: 100%;
  margin: auto;
  font-family: "Wotfard", sans-serif;
  font-size: 1rem;
}

/* theme dark et light */
body.dark {
  background-color: var(--gray-90);
  color: var(--gray-5);
  fill: var(--gray-5);
}
svg.dark {
  fill: var(--gray-5);
}

body.light {
  background-color: var(--gray-5);
  color: var(--bleu-gris);
  fill: var(--bleu-gris);
}
svg.light {
  fill: inherit;
}

/* bouton dark/light */
.theme-toggle {
  border: none;
  background: none;
  cursor: pointer;
}
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: space-between;
  max-width: 100vw;
  padding: 1rem 6rem;
  position: sticky;
  top: 0;
  z-index: 2;
  /*overflow: hidden;*/
  backdrop-filter: blur(10px);
  height: 5rem;
  margin-bottom: 1rem;
}

header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.75rem 0;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
}
nav {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0 11rem;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 0;
}

.topnav a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
  white-space: nowrap;
}

header button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 6.25rem;
  margin: 0;
  padding: 0.75rem;
}

/* Menu bruger---------------------------------------------------------------*/
.menu-burger {
  display: none;
}

.header-right {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.responsive-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/*réseaux sociaux responsive-------------------------------------------------*/
.socialmedia-responsiveBar {
  display: none;
}

main {
  grid-area: main;
}

/* Animation marquee
------------------------------------------------------------------------*/
.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100vw;
}

.div-marquee1 {
  display: inline-block;
  animation: marquee1 40s linear infinite;
  overflow: hidden;
}

.div-marquee2 {
  display: inline-block;
  animation: marquee1 40s linear infinite;
  overflow: hidden;
}

@keyframes marquee1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Main
------------------------------------------------------------------------*/
.socialmedia-bar {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: end;

  position: fixed;
  top: 40%;
  transform: translateY(-50%);
  left: 2rem;
}

/* About
------------------------------------------------------------------------*/
.hero {
  margin: 2rem 6rem 3rem;
}
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  scroll-margin-top: 8rem;
}

/*ma présentation*/
.about h1 {
  font-size: 2rem;
}
.about p {
  font-family: "Spectral", serif;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
  position: relative;
}

.about span {
  color: var(--pink);
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.dark .focus-txt {
  color: var(--violet-dark);
}

.about img {
  display: none;
}

.focus {
  position: relative;
}

.focus span {
  position: relative;
  z-index: 1;
}

/*.about .focus:hover img {
  display: block;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}*/

/* Skills
------------------------------------------------------------------------*/
.skills-section {
  display: flex;
  flex-direction: column;
  margin: 0 6rem 3rem;
  scroll-margin-top: 8rem;
}

/*titre compétences */
.skills-section h2 {
  align-self: center;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 12px;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 3rem;
}

/*ligne noire responsive*/
.skills-section .title-container::before,
.title-container::after {
  content: "";
  border-top: 2px solid;
  color: inherit;
  display: block;
  height: 1px;
}

/*étoiles*/
.skills-section h2 span {
  font-style: normal;
  font-weight: 500;
}

/*Section d'affichage des skills*/
.skills-wrapper {
  background-color: var(--bleu);
  border-radius: 32px;
  margin: 0 3rem;
  padding: 1.5rem 3rem 2rem 3rem;
}

/*Btn filtres skills*/
/*alignement des btn*/
.skills-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 2rem;
}
/*design btn*/
.btn {
  border: 1px var(--bleu-gris) solid;
  border-radius: 1rem;
  background-color: inherit;
  color: inherit;
  padding: 0.5rem 0.6rem;
  font-family: "Wotfard", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  transition: transform 100ms;
  box-shadow: inset -2px -4px 0 0 #728bb1, 3px 5px 0 var(--bleu-gris);
}

/*hover btn*/
.btn:hover {
  color: var(--bleu-gris);
  background-color: var(--vert);
  border: 1px solid #7f887c;
  transform: translateY(3px);
  box-shadow: 1px 2px 0 var(--bleu-gris);
  transition: box-shadow 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*click btn*/
.activeBtn {
  color: var(--bleu-gris);
  background-color: var(--vert);
  border: 1px solid #7f887c;
  transform: translateY(3px);
  box-shadow: 1px 2px 0 var(--bleu-gris);
  transition: box-shadow 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*dark mode*/
.dark .skills-wrapper {
  background-color: var(--bg-dark);
}

.dark .btn {
  border: solid 1px #728bb1;
  box-shadow: inset -2px -4px 0 0 #728bb1, 3px 5px 0 var(--gray-80);
}

.dark .btn:hover {
  background-color: var(--bleu-dark);
  color: var(--bleu-pastel);
  box-shadow: 1px 2px 0 var(--gray-60);
  border: 1px solid var(--gray-50);
}

.dark .activeBtn {
  background-color: var(--bleu-dark);
  color: var(--bleu-pastel);
  box-shadow: 1px 2px 0 var(--gray-60);
  border: 1px solid var(--gray-50);
}

/*Organisation des skills*/
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.skills-container div {
  display: flex;
  flex-direction: column;
}

.skills-container h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-bottom: 4px;
}

.skills-container p {
  margin: 0;
}

.skills-container div p:nth-child(2) {
  font-size: 0.875rem;
  font-weight: 600;
}

.skills-container div p:nth-child(3) {
  font-size: 0.875rem;
  padding: 0;
}

/* Experiences
------------------------------------------------------------------------*/
.experiences-section {
  margin: 0 6rem 3rem;
  scroll-margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

/*titre experiences */
.experiences-section h2 {
  align-self: center;
}

/*étoiles*/
.experiences-section h2 span {
  font-style: normal;
  font-weight: 500;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 12px;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0 3rem;
}

/*ligne noire responsive*/
.experiences-section .title-container::before,
.title-container::after {
  content: "";
  border-top: 2px solid;
  color: inherit;
  display: block;
  height: 1px;
}

/*btn filter formation et job*/
.experiences-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;
  padding: 0 0 0 3.5rem;
  margin-bottom: 1rem;
  align-items: center;
}

.xp-btn {
  color: inherit;
  background-color: inherit;
  padding: 0.15rem 0.4rem;
  font-family: "Wotfard", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--pink);
  border-radius: 4px;
}

.xp-btn:hover,
.active-xpBtn {
  color: var(--gray-5);
  background-color: var(--violet-dark);
  border: 1px solid transparent;
  transform: scale(1.05);
  transition: transform 100ms;
}

.active-xpBtn {
  color: var(--gray-5);
  background-color: var(--violet-dark);
  border: 1px solid transparent;
}

/*container card xp*/
.experiences-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin: 0 3rem;
}

.experience-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-white);
  border-radius: 1rem;
  padding: 0;
  overflow: hidden;
  border: 0.2px solid var(--pink);
}

/*dark mode color*/

.dark .experience-card {
  background-color: var(--bg-dark);
  border: 0.2px solid transparent;
}

.dateXp {
  background-color: var(--vert-mint);
  text-align: center;
  margin: 0;
  padding: 5px;
}

.dark .dateXp {
  background-color: var(--bleu-pastel);
  color: var(--bleu-gris);
}

/*xp cards---------------------------------------*/

.titleXp {
  padding: 10px;
  text-align: center;
  border-bottom: dashed 1px var(--bleu-gris);
}

.titleXp h3,
p {
  margin: 0;
}

.brefXp {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 5px;
}

.brefXp svg {
  padding: 1px;
}

.brefXp p {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}
.summary {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: start;
}

.like {
  display: grid;
  grid-template-columns: 20px 1fr;
}

.like span {
  font-size: 0.8rem;
}

.like p {
  padding: 0 25px 0 0;
}

/* Modale
------------------------------------------------------------------------*/
.modal-btn {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  position: absolute;
  box-sizing: border-box;
  bottom: 5px;
  right: 5px;
}

.modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 10;
}

.modal-container.active {
  visibility: visible;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--bleu-overlay);
  transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
  visibility: hidden;
  opacity: 0;
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  box-sizing: border-box;
  background-color: var(--gray-5);
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 50px));
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.modal.active {
  visibility: visible;
}

.modal-container.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

.close-modal {
  padding: 0;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: inherit;
  box-sizing: border-box;
  color: inherit;
}

.dark .overlay {
  background-color: #333333d3;
}

.dark .modal {
  background-color: var(--bg-dark);
}

/*Modal content design*/
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding-bottom: 10px;
  border-bottom: dashed 1px var(--bleu-gris);
}

.modal-titre {
  text-align: center;
  font-size: 1.1rem;
}

.modal-mission {
  padding-left: 12px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Footer
------------------------------------------------------------------------*/
footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(#cececed3 0.5px, transparent 1px),
    linear-gradient(to right, #cececed3 1px, transparent 1px);
  background-size: 25px 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dark footer {
  background-color: var(--bg-dark);
}

.contact {
  margin: 0;
  padding: 0;
  background-color: var(--gray-5);
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
  transition: 1s;
  width: 180px;
  height: 36px;
}

.contact-face {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--butter-yellow);
  box-sizing: border-box;
  border-radius: 1rem;
}

.contact-front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  padding: 0;
  margin: 0;
}

.contact button {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  line-height: 1rem;
  background-color: var(--butter-yellow);
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  color: var(--bleu-gris);
}

.contact-front button {
  font-family: "Spectral", serif;
  font-weight: 800;
}

.contact-back {
  transform: rotateY(180deg);
  padding: 0;
  margin: 0;
}

.contact.flip {
  transform: rotateY(180deg);
}

.credits {
  padding: 10px;
}

/* MEDIA QUERIES
------------------------------------------------------------------------*/
/* large screen */
@media (min-width: 1281px) and (max-width: 1440px) {
  header {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
  }
  nav {
    padding: 0 5rem;
  }
}
/*menu burger-----------------------------------------------------------*/
@media (max-width: 999px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-right {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .responsive-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    align-items: center;
  }

  .socialmedia-responsiveBar {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  .socialmedia-responsiveBar a {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
  }

  .socialmedia-responsiveBar a svg {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
  }

  .socialmedia-bar {
    display: none;
  }

  .menu-burger {
    cursor: pointer;
    display: block;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4px;
    padding: 0.5rem 0.65rem;
    margin: 0;
    border-radius: 0.75rem;
    border: none;
    font-size: 1rem;
    color: var(--gray-10);
    background-color: var(--orange);
  }

  .menu {
    display: none;
    position: absolute;
    right: 8rem;
    top: 5rem;
    z-index: 5;
    padding: 0;
  }

  .topnav {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: var(--gray-20) 0.5px solid;
    background-color: var(--gray-5);
    border-radius: 8px;
    overflow: hidden;
  }
  .topnav a {
    padding: 10px;
  }
  .topnav a:hover {
    background-color: var(--light-orange);
    color: var(--orange);
    transform: scale(1.05);
    transition: 100ms;
    font-weight: bold;
    border-radius: 10px;
  }

  .open {
    display: block;
  }

  .dark .topnav {
    background-color: var(--bg-dark);
    border: var(--bleu-gris) 0.5px solid;
  }

  .dark .menu-burger {
    background-color: var(--bleu-pastel);
    color: var(--bleu-gris);
  }

  .dark .topnav a:hover {
    background-color: var(--bleu-pastel);
    color: var(--bleu-dark);
  }
}

/*laptop*/
@media (min-width: 1000px) and (max-width: 1280px) {
  header {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
    padding: 1rem 6rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  nav {
    padding: 0 2rem;
  }
}

/*small laptop screens*/
@media (min-width: 769px) and (max-width: 999px) {
  /*about*/
}

/*Tablet and larger smartphone*/
@media (min-width: 481px) and (max-width: 768px) {
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .experiences-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*small device*/
@media (max-width: 480px) {
  header {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 0rem;
    padding: 1rem;
  }

  header h2 {
    font-size: 1.75rem;
  }

  .header-right {
    gap: 1rem;
  }

  .menu {
    right: 2rem;
    top: 5rem;
  }
  .about h1 {
    font-size: 1.25rem;
  }
  .about h1 span {
    font-size: 1.25rem;
  }
  .about p {
    font-size: 1.25rem;
  }

  .about p span {
    font-size: 1.25rem;
  }

  .hero {
    margin: 1rem;
  }

  .about p {
    width: 95%;
  }

  .title-container h2 {
    font-size: 1.25rem;
  }

  .skills-section {
    margin: 1rem;
  }
  .title-container {
    padding: 0;
  }

  .skills-filter {
    gap: 1rem;
  }

  .skills-filter .btn {
    font-size: 14px;
  }
  .btn {
    padding: 0.2rem 0.5rem;
  }

  .skills-wrapper {
    padding: 14px;
    margin: 0rem;
  }
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .skills-container div {
    width: 100%;
  }

  .skills-container h3,
  .titleXp h3,
  .experience-card p {
    font-size: 0.875rem;
  }
  .skills-container h3 svg {
    width: 20px;
    height: 20px;
  }
  #skills-container.skills-container div p {
    font-size: 0.75rem;
  }

  .experiences-section {
    margin: 1rem;
  }

  .experiences-filter {
    justify-content: flex-start;
    padding: 0 0 0 0.2rem;
  }

  .xp-btn {
    font-size: 14px;
  }

  .experiences-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 0rem;
  }
  .experience-card {
    width: 100%;
  }

  .titleXp p,
  .summary p,
  .like p {
    font-size: 0.75rem;
  }

  .modal {
    min-width: unset;
    padding: 20px;
  }
}
